/* General Settings */
body {
  background-color: #07012c; /* Dark background color */
  color: #e0e0e0;           /* Light text color for contrast */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

